extends /layout

block content
	section#blog-hero.cover.height-80.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(#{asset(entry.featuredImage)}); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="#{asset(entry.featuredImage)}" alt="" srcset="#{asset(entry.featuredImage)} 1600w, #{asset(entry.featuredImage)} 300w, #{asset(entry.featuredImage)} 768w, #{asset(entry.featuredImage)} 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#blog-hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					//-h1.text-center= post.title
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
			div.wpb_text_column.wpb_content_element
				div.wpb_wrapper

	//- h1= post.title
	//- img(src="#{post.featured_image}")
	
	section#blog-content
		div.container
			div.row
				div.col-lg-12
					h1.text-center.color--primary= entry.title
					!= entry.content

	section#blog-secondary-images
		div.container
			div.row
				for image in entry.secondaryImages
					div.col-lg-4
						a(href="#{asset(image)}" data-lightbox="true")
							img(src="#{asset(image)}")

	//-p= JSON.stringify(entry)
	section#blog-slider
		div.container
			div.row.text-center
				div.col-sm-12
					h2.color--primary More Posts
		- var blogPosts = 3;
		include _blog_slider


	//-include _blog_slider
	//-p.wordpress-child1=JSON.stringify(config)
	//-p= JSON.stringify(post)
